<div class="wr">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
      <li class="breadcrumb-item active" aria-current="page">Thêm Task</li>
    </ol>
  </nav>

  <main>
      <div class="box">
        <div class="form-gr">
          <form class="form-inline">
            <div class="form-group mb-2">
              <input type="text" readonly class="form-control-plaintext"  value="Tên Task">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <input type="text" class="form-control" id="inputPassword2" [(ngModel)]="task_name" [ngModelOptions]="{standalone: true}" >
            </div>
            
          </form>
        </div>


        <div class="form-gr">
          <form class="form-inline">
            <div class="form-group mb-2">
              <input type="text" readonly class="form-control-plaintext"  value="Mô Tả">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" [(ngModel)]="task_des"  [ngModelOptions]="{standalone: true}"></textarea>
            </div>
            
          </form>
        </div>

        <div class="form-gr last">
          <form class="form-inline">
            <div class="form-group mb-2">
              <input type="text" readonly class="form-control-plaintext"  value="Dự Án">
            </div>
            <div class="form-group mx-sm-3 mb-2">
              <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="id_prj" [ngModelOptions]="{standalone: true}" >
                <option *ngFor="let i of prj" value="{{i.id}}">{{i.prj_name}}</option>
               
              </select>
            </div>
            
          </form>
        </div>

        <small id="emailHelp" class="form-text text-muted">{{pp}}</small>

        <button type="submit" class="btn btn-primary" (click)="onAdd()" >Thêm mới</button>
      </div>
  </main>
</div>

